.animation-title {
    display: inline-block;
    margin-right: 10px;
    opacity: 0;
    transform: translateY(100%);

    transition: opacity 0.2s ease-in, transform 0.5s ease-in;

    &.visibility {
        opacity: 1;
        transform: translateY(0);
    }
}