.fadeIn {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInverse {
    animation: fadeInverse 2s ease-in-out;
}

@keyframes fadeInverse {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
